{% extends "base.html" %}
{% block title %}Lista disciplinas{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h1>Disciplinas registradas</h1>
  <table class="table table-striped">
  <thead>
  <tr>
    <th>Nome</th>
    <th>Curso</th>
    <th>Campus</th>
  </tr>
  </thead>
  <tbody>
  {% for disciplina in disciplinas %}
    <tr>
    <td>{{ disciplina.nome }}</td>
    <td>{{ disciplina.curso }}</td>
    <td>{{ disciplina.campus }}</td>
    </tr>
  {% endfor %}
</table>
{% endblock %}
