{% extends "base.html" %}
{% block title %}Registra disciplinas{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<h1>Registra disciplinas</h1>
  <!-- <form action="/register" method="POST">
    <div class="form-group">
    <label for="namefield">Name</label>
    <input type="text" class="form-control" id="namefield" name="name" aria-describedby="emailHelp" placeholder="Email">
    <small id="emailHelp" class="form-text text-muted">Let us know who you are.</small>
  </div>
  <div class="form-group">
    <label for="emailfield">Email address</label>
    <input type="email" class="form-control" id="emailfield" name="email" aria-describedby="emailHelp" placeholder="Email">
    <small id="emailHelp" class="form-text text-muted">Your email address in case we need to contact you.</small>
  </div>
  <button type="submit" class="btn btn-default">Register</button>
  </form> -->
  <form action="/registra_disciplinas" method="POST">
    <!-- <div class="form-group">
      <label for="campoCurso">Curso</label>
      <input type="text" class="form-control" id="campoCurso" name="siglaCurso" aria-describedby="ajudaCurso" placeholder="Sigla do Curso Ex: ECO">
      <small id="ajudaCurso" class="form-text text-muted">Nos diga o curso que deseja atualizar.</small>
    </div> -->
    <div class="form-group">
      <label for="campoAno">Ano</label>
      <input type="text" class="form-control" id="campoAno" name="ano" aria-describedby="ajudaAno" placeholder="Digite o ano desejado Ex: 2018">
      <small id="ajudaAno" class="form-text text-muted">Nos diga o ano desejado.</small>
    </div>
    <div class="form-group">
      <label for="campoSemestre">Semestre</label>
      <input type="text" class="form-control" id="campoSemestre" name="semestre" aria-describedby="ajudaSemestre" placeholder="Digite o semestre desejado Ex: 1">
      <small id="ajudaSemestre" class="form-text text-muted">Nos diga o semestre desejado.</small>
    </div>
    <button type="submit" class="btn btn-default">Atualiza disciplinas</button>
  </form>
{% endblock %}
